<h2>Sign in <small>
  or you need to <%= link_to 'Sign up', new_user_registration_path %>?
</small></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :login, class:"sr-only" %>
      <%= f.text_field :login, autofocus: true, placeholder: "Email or Nickname", class: "form-control" %></div>

    <div class="form-group help-block">
      <%= f.label :password, class:"sr-only" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
      <small class="pull-right"><%= link_to 'Forgot your password?', new_user_password_path %></small>
    </div>


    <% if devise_mapping.rememberable? -%>
        <label class="checkbox" for="user_remember_me">
          <%= f.check_box :remember_me, data: {toggle: "checkbox"} %>
          Remember me
        </label>
    <% end -%>

    <%= f.submit "Sign in", class: "btn btn-primary btn-wide btn-embossed" %>
<% end %>